<div class="container">
  <div class="row">
    <div class="col">
      <h1>Listado de personas</h1>
      <button class="btn btn-primary" [disabled]='deshabilitar'>Agregar persona</button>
      <app-persona></app-persona>
    </div>
  </div>
</div>
